{% extends "layout.html" %}
{% block content %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-groop">
                <legend>Sector</legend>
                <div class="form-groop">
                    {{ form.sector.label(class="form-control-label") }}
                    {{ form.sector(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit() }}
            </div>
        </form>
    </div>
<form action="/data">
    <input type="submit" value="Go to hell" />
</form>
{% endblock content %}
