{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <h1>{{ post }}</h1>
    {% endfor %}
    <form action="/">
        <input type="submit" value="Go to edit page" />
    </form>
{% endblock content %}